footer.footer(role="contentinfo")
  hr
  .container
    p.pull-left
      | Copyright &copy; 
      span.start-year 2015&ndash;
      | 2016 by 
      a(href="#{pathRoot}") Albert
    p.pull-right.hidden-xs Thank you for visiting us!
//- JavaScript
script(src="#{pathRoot}js/jquery.min.js" async)
script(src="#{pathRoot}js/bootstrap.min.js" async)
