extends _layouts/_page

block variables
  - var pathRoot = "../"
  - var pageTitle = "Page Title"
  - var pageDesc = "Page description"
  - var pageClass = "page"

block content
  .my-5
    h2 The Standard Page
    p.intro.
      The intro paragraph metus non orci finibus, a lobortis mi lacinia.
      Phasellus gravida, purus quis lobortis semper, lacus ligula scelerisque
      orci, ut efficitur sem eros id lorem.
  .row
    .col-sm-6
      h3 The First Comlumn
      p.
        Etiam accumsan mi sit amet lorem volutpat tristique. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed
        eu sagittis ipsum. Donec elementum, tellus eget placerat rhoncus, eros
        eros hendrerit augue, eget feugiat elit ante ut nibh. Etiam nec dui at
        orci dapibus tincidunt ut a metus. Suspendisse malesuada viverra ex.
        Praesent rhoncus rutrum dictum.
    .col-sm-6
      h3 The Second Column
      p.
        Cras lobortis dui tincidunt tellus accumsan, in condimentum metus
        malesuada. In malesuada feugiat pellentesque. Sed id lectus id dolor
        lacinia condimentum vel ut enim. Fusce accumsan vehicula tellus. Nullam
        eget finibus leo. Fusce leo enim, lobortis et nunc eu, molestie iaculis
        metus. Donec volutpat lectus eu fermentum vulputate.
