footer.footer(role="contentinfo")
  hr
  .container.d-flex.justify-content-between
    p
      | Copyright &copy;
      span.start-year 2015&ndash;
      | 2016 by
      a(href=pathRoot + "") &nbsp;Albert
    p.d-none.d-sm-block Thank you for visiting us!
//- JavaScript
script(src=pathRoot + "js/jquery.slim.min.js")
script(src=pathRoot + "js/bootstrap.bundle.min.js" async)
