aside.pre-footer(role="complementary")
  hr
  .container
    .row.my-4
      .col-sm-2
        h4 Menu
        ul.menu
          li
            a(href=pathRoot + "page") Page 1
          li
            a(href=pathRoot + "page") Page 2
          li
            a(href=pathRoot + "page") Page 3
      .col-sm-4
        h4 Contact
        p phone: +1 415-123-4567
        p email:
          a(href="#") info@somemail.com
      .col-sm-6
        p.
          Phasellus consectetur quis lectus eget vulputate. Fusce augue odio,
          interdum id ullamcorper eget, rhoncus sit amet quam. Sed eu bibendum
          libero. Mauris sit amet justo eget magna viverra lobortis a ac lacus.
          Nulla pulvinar, erat sed ornare ultrices, nisi orci malesuada velit,
          sit amet porta ex erat in ante.
        a(href=pathRoot + "page") Read more &raquo;
